@font-face
  font-family: HelveticaBold
  src: url("../fonts/HelveticaBold/HelveticaLTStd-Bold.eot");
  src: url("../fonts/HelveticaBold/HelveticaLTStd-Bold.eot?#iefix")format("embedded-opentype"),
          url("../fonts/HelveticaBold/HelveticaLTStd-Bold.woff") format("woff"),
          url("../fonts/HelveticaBold/HelveticaLTStd-Bold.ttf") format("truetype")
  font-style: normal
  font-weight: normal


@font-face
  font-family: HelveticaLight
  src: url("../fonts/HelveticaLight/HelveticaLTStd-Light.eot")
  src: url("../fonts/HelveticaLight/HelveticaLTStd-Light.eot?#iefix")format("embedded-opentype"),
          url("../fonts/HelveticaLight/HelveticaLTStd-Light.woff") format("woff"),
          url("../fonts/HelveticaLight/HelveticaLTStd-Light.ttf") format("truetype")
  font-style: normal
  font-weight: normal