.news-block
  padding-top 30px
  max-width 64%

.news
  max-width 100%
  position relative
  padding-bottom 50px

  h2
    font-size: 2.188rem
    font-weight: bold
    color black
    margin-bottom 15px
  p
    font-size 0.875rem
    margin-bottom 25px

  a
    color: rgb(106, 102, 102)

.img-news
  max-width: 100%
  border: solid #bfbfbf 1px
  background: #fafafa

.img
  padding 15px
  display: flex
  justify-content: space-between
  flex-flow: row wrap
  & img:first-child
    padding-bottom 10px
    max-width 100%

.news-footer
  padding-top 15px
  span
    color: rgb(106, 102, 102)
    font-size 1 rem

.comments
  padding-left 55px
  position relative
  &:before
    position absolute
    left: 25px
    top: 0
    content: ''
    background url("/img/Layer 31.png")
    width 18px
    height 18px

.related-articles
  ul
    margin  21px 0 30px 0
    padding 0
    display inline-block

.related-articles-trap
  max-width: 255px
  margin-left -30px
  @extend .trap

.write-comment-trap,
.comments-trap
  margin-left -30px
  @extend .trap
  max-width 223px

.list-articles
  list-style none
  width 50%
  padding  19px 0 0 19px
  position relative
  color: rgb(73, 73, 73)
  text-align left
  font-size 0.8125rem
  display: inline
  float: left

  &:before
    content: ''
    position absolute
    top: 21px
    left 0
    width: 0
    height: 0
    border-style: solid
    border-width: 6px 0 6px 8px
    border-color: transparent transparent transparent #5261ac

.comments-trap
  margin-bottom: 24px

.block-comments,
.write-comment,
.related-articles
  max-width: 565px

.write-comment form
  padding-top 40px
  padding-bottom 50px

  label
    text-align right

  input
    height: 35px
    max-width 100%

  .form-group
      margin-bottom: 20px


a.user
  font-size: 1rem
  color: rgb(82, 97, 172)
  text-align: left
  font-weight bold

.user-info
  display flex
  justify-content space-between

a.reply-link
  font-size: 0.9rem
  color: rgb(82, 97, 172)
  float: right
  &:before
    position absolute
    border-bottom solid #bfbfbf 1px
    content ''
    left: 0
    bottom: 6px
    width: 80%

.comment
  padding-top 26px
  img
    width 70px
    height 70px

  &--date
    font-size: 13px
    color: rgb(73, 73, 73)
    text-align: right

  &-detail
    margin-left 20px
    position relative
    p
      font-size: 0.8125rem
      color: rgb(73, 73, 73)
      margin: 7px 0 10px

.button--submit
  @extend .button
  float right
  background-color #f78f1d
  color: white
  width 100%
  max-width: 137px
  height: 35px
  border-radius 5px
  &:hover
    background-color white
    color black
    border: solid 3px #f78f1d

@media screen  and (max-width: 1056px)
  .img
    & img:nth-child(2),
    & img:nth-child(3),
    & img:nth-child(4),
    & img:nth-child(5)
      max-width 24%

@media screen  and (max-width: 576px)
  .img
    & img:nth-child(2),
    & img:nth-child(3),
    & img:nth-child(4),
    & img:nth-child(5)
      max-width 49%
      width 100%

    & img:first-child
      object-fit cover

  .comments-trap,
  .write-comment-trap,
  .comments-trap,
  .related-articles-trap
    margin-left 0

  .write-comment form label
    text-align left

  .button--submit
    max-width 100%

@media screen and (min-width: 1156px)
  .news
    &:before
      position absolute
      left: -72px
      top: 0
      content: '28'
      background-color #f78f1d
      width 65px
      height 45px
      color white
      font-size 2.188rem
      font-weight: bold
      text-transform: uppercase
      text-align: center

    &:after
      position absolute
      left: -67px
      top: 45px
      content: 'feb'
      background-color #00aedb
      width 60px
      height 27px
      color white
      font-size 1.188rem
      font-weight: bold
      text-transform: uppercase
      text-align: center


@media screen and (max-width: 991px)
  .news-block
    max-width 100%

  .img-news
    max-width 652px
    margin auto
