.news-block
  padding-top 30px
  max-width 64%

.news
  max-width 100%
  position relative
  padding-bottom 50px

  &:before
    position absolute
    left: -72px
    top: 0
    content: '28'
    background-color #f78f1d
    width 65px
    height 45px
    color white
    font-size 2.188rem
    font-weight: bold
    text-transform: uppercase
    text-align: center

  &:after
    position absolute
    left: -67px
    top: 45px
    content: 'feb'
    background-color #00aedb
    width 60px
    height 27px
    color white
    font-size 1.188rem
    font-weight: bold
    text-transform: uppercase
    text-align: center

  h2
    font-size: 2.188rem
    font-weight: bold
    color black
    margin-bottom 15px
  p
    font-size 0.825rem
    margin-bottom 25px
  span
    color: rgb(106, 102, 102)
    font-size 1 rem
  a
    color: rgb(106, 102, 102)

.img-news
  max-width: 100%
  border: solid #bfbfbf 1px
  background: #fafafa

.img
  padding 15px
  display: flex
  justify-content: space-between
  flex-flow: row wrap
  & img:first-child
    padding-bottom 10px
    max-width 100%

.news-footer
  padding-top 15px

.comments
  padding-left 55px
  position relative
  &:before
    position absolute
    left: 25px
    top: 0
    content: ''
    background url("/img/Layer 31.png")
    width 18px
    height 18px
