footer
  position relative
  max-width 1055px
  margin auto

footer:before
  max-width: 1055px
  width: 100%
  background: url(/img/colorful.jpg) repeat-x
  height: 8px
  position: absolute
  left: 0
  top: 0
  content: ""
